@import "./variables";

.app-tooltip {
  position: relative;
  z-index: 60;
}

.app-tooltip .app-tooltiptext {
  visibility: hidden;
  min-width: 120px;
  max-width: 200px;
  background-color: #5e4239;
  color: #e8be3b;
  text-align: center;
  padding: 10px 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  margin-left: 10px;
  margin-top: -5px;
}

.app-tooltip .app-tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  z-index: 1;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #5e4239 transparent transparent;
}

.app-tooltip:hover .app-tooltiptext {
  visibility: visible;
}

.modal-app {
  width: 75%;
}

@media screen and (max-width: $maxWidth) {
  .modal-app {
    width: 100%;
  }
  .rockai-drawer{
    width: 100% !important;
  }

}

@font-face {
  font-family: 'FontText';
  src: url('../../public/fonts/Acumin-Variable-Concept.ttf') format('truetype'); 
}  

.table-select {
  width: 180px;
}

.cLbche:disabled{
   display: none !important;
}