@import "@blueprintjs/core/lib/css/blueprint.css";
@import "@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "@blueprintjs/table/lib/css/table.css";
@import "~@blueprintjs/datetime2/lib/css/blueprint-datetime2.css";
@import "~@blueprintjs/datetime/lib/css/blueprint-datetime.css";
@import "~@blueprintjs/select/lib/css/blueprint-select.css";
@import "@blueprintjs/select/lib/css/blueprint-select.css";
@import "./styles/variables";


@font-face {
  font-family: 'FontTitles';
  src: url('../public/fonts/MonumentExtended-Regular.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('../public/fonts/MonumentExtended-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

@font-face {
  font-family: 'FontSubTitles';
  src: url('../public/fonts/OpenSans-Semibold.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('../public/fonts/OpenSans-Semibold.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

@font-face {
  font-family: 'FontText';
  src: url('../public/fonts/Acumin-Variable-Concept.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
       // url('myfont.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}  

body {
  margin: 0;
  font-family: 'FontText'
}

h1, h2 {
  font-family: 'FontTitles';
  color: $primary;
}

h3, h4 {
  font-family: 'FontSubTitles';
  color: $text;
}

h5, h6, label, p, span {
  font-family: 'FontText';
  color: $text;
}

.Toastify__toast {
  font-family:  'FontText' !important;
}

.Toastify__toast--warning {
  background: $primary !important;
  color: $text !important;
}

@import url("styles/loging.styles.scss");
@import url("styles/layouts.scss");
@import url("styles/sidebar.scss");
@import url("styles/blueprint.styles.scss");
@import url("styles/app.styles.scss");


